<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="EMRService.PatientService">
        <endpoint address="" binding="webHttpBinding" contract="EMRService.IPatientService"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="Default" connectionString="mongodb://a9b6150b-a2c1-4e05-a9df-5455cf1c59a9:ec2e4760-a81b-4afd-a101-f4bba33da7da@10.91.2.48:25009/db"/>
    <add name="local" connectionString="mongodb://localhost/EMRService"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
    <customErrors mode="Off"/>
  </system.web>
</configuration>